header{
    background-color: rgb(54, 161, 125);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body{
    margin: 0;
    font-family: 'Press Start 2P'; 
}
nav a{
    color: rgb(251, 255, 193);
    font-size: 20px;
    margin: 30px;
    text-decoration: none;
    }
nav a:hover{
    color: darkslategrey;
    transform: scale(1.1);
}

button{
    font-family:'Press Start 2P';
    padding: 15px 30px;
    border-radius: 50px;
    background-color: rgb(184, 150, 88);
    color: rgb(255, 255, 255);
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: .5s;
}
button:hover{
    background-color: darkslategrey;
    transform: scale(1.1);
}
div{
    text-align: center;
    padding: 250px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.322), rgba(0, 0, 0, 0.199)), url(zelda\ 2.jpg);
    background-size: cover; 
}
h1{
    color: #ffffff;
    text-shadow: black 0 0 3px;
}
p{
    color: #ffffff;
    text-shadow: black 0 0 3px;
    font-size: 17px;
    margin: 10px;
}
footer{
    background-color: rgb(54, 161, 125);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p{
    margin:0;
    padding:50px;
}
p{
   color: #ffffff;
   text-shadow: black 0 0 3px;
}

button a{
    color: #ffffff;
    text-decoration: none;

}

header button{
    margin-right: 15px;
}

@media(max-width: 500px){
    header{
        display: block;
        text-align: center;
        padding: 20px 5;
    }
    nav{
        margin: 10px 0;
    }
    h1{
        font-size: 30px;
    }
    p{
        font-size: 15px;
    }
    div{
        padding: 40px 20px;
    }
    

}



